
/* Colors for note rotation */
.color-0 {
    color: blue;
}

.color-1 {
    color: green;
}

.color-2 {
    color: purple;
}

/* Base styles */
body{
    background-color: lightcyan ;
    align-items: center;
    margin: 100px;
}

#notas{
    text-align: center;
    position: top center;
}

#painel_notas{
    display: flex;
    justify-content: space-between;
    margin: 5% 12%;
}

#nao_urgentes{
    background-color: white;
    border: 10px solid yellow;
    padding: 10px;
    width: 300px;
    height: 450px;
}

#urgentes{
    background-color: white;
    border: 10px solid red;
    padding: 10px;
    width: 300px;
    height: 450px;
}
