
.color-0 {
    color: blue;
}

.color-1 {
    color: green;
}

.color-2 {
    color: purple;
}

body{
    background-color: silver;
    align-items: center;
    margin: 100px;
}

#main{
    background-color: ghostwhite;
    margin: 120px 250px;
    padding: 10px ;
    border: 7px solid slategrey;
}

#notas{
    text-align: center;
    position: top center;
    font-size: 22px;
}

#btn_inserir{
    background-color: #292929;
    color: white;
}


#painel_notas{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

#nao_urgentes{
    background-color: white;
    border: 10px solid gold;
    padding: 10px;
    width: 300px;
    height: 450px;
}

#urgentes{
    background-color: white;
    border: 10px solid firebrick;
    padding: 10px;
    width: 300px;
    height: 450px;
}
